.wrapper {
  display: flex;
  margin:0 3rem;
}
.createUser {
  display: flex;
  flex:0 20%;
}

.createUser div {
  flex: 1;
}

.createUser div > * {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}

.createUser div button {
  width: 50%;
  margin-top: 1rem;
}

.createUser > * {
  /*  flex:0 10%;*/
}

.createUser select {
}
