.Summary.userPanel {
  width: 30%;
  margin-top:1rem;
}
.Summary p,
#update-summary-form > div {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid slategray;
}

#update-summary-form .container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}

#update-summary-form .container p {
  margin: 0;
}

.Summary .admin {
  cursor: default;
}

#update-summary-form {
  display: flex;
  flex-flow: column;
}

#update-summary-form input {
  text-align: center;
}

#bonus {
}

#overtime {
}
