#user-smallmenu {
  position: fixed;
  top: 5%;
  border: 1px solid gray;
  display: flex;
  flex-flow: row wrap;
}

#user-smallmenu button {
  flex: 1 100%;
  border: none;
  margin-bottom: 0.5rem;
}

.login {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login form {
  flex: 1 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}


.login form > * {
    flex:0 5%;
}

.passwordResetDiv{
  flex:1 70%;
}
#password-reset{
  color:blue;
  cursor: pointer;
  flex:0;
}