.userList {
    flex:0 10%;
    align-content: stretch;
    display: flex;
    flex-flow: column;

}


.user {
    border:1px solid #333;
    cursor: pointer;

}

.user p {
    display: flex;
    justify-content: flex-start;
}