.userSheet {
  flex: 0 25%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-height: 80vh;
}

.userSheet > * {
  margin-bottom: 1vh;
}

.userSheet .admin tr {
  cursor: default;
}

.userSheet.user {
  border: none;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  width: 100%;
}

table td,
table th {
  border: 1px solid #333;
  padding: 0;
}

.weekend.ph {
  background-image: linear-gradient(180deg, lightsteelblue, green);
}

.weekend {
  background-color: lightsteelblue;
}

.ph {
  background-color: green;
}

#month-selection {
  flex: 0 4vh;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
}

#month-selection:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

#user-year-selection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px solid #333;
  font-size: 1.2rem;
}

#user-year-selection span {
  cursor: pointer;
}
#user-year-selection p {
  cursor: default;
}
#user-year-selection > * {
  margin: 0 0.5rem;
}
