.userList {
    flex:0 15%;
    align-content: stretch;
    display: flex;
    flex-flow: column;

}


.user {
    border:1px solid #333;
    padding:0.1rem;
    cursor: pointer;
    flex-basis:5%;
    display: flex;
    flex-flow:column;
    justify-content: center;
}

.user p {
    display: flex;
    justify-content: flex-start;
}